main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    z-index: -1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: cambioColor 10s infinite alternate;
}

@keyframes cambioColor {
    0%   { background-color: #1e3a8a; }
    25%  { background-color: #2563eb; }
    50%  { background-color: #3b82f6; }
    75%  { background-color: #6366f1; }
    100% { background-color: #1e3a8a; }
}


.sidebar {
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    width: 15vw;
    padding: 1rem;
    background-color: aliceblue;
}

.sidebar h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li a {
    text-decoration: none;
    color: #007bff;
    display: block;
    padding: 0.5rem 0;
}

.contenido {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
